<!-- <script src="JavaScript.js"></script> -->
<!-- <link href="style.css" rel="stylesheet" /> -->


<div ng-controller="loginctrl">

    <div id="container">
	<h3 style="text-align: center;">Mobile Networks Research</h3>
        <div id="form_box">

            <form action="/" id="myLogin">
			
                <p id="form_heading">Login Form</p>
				
				<label>Email :</label>
                <input type="email" id="username" ng-model="username"><br />
                <label>Password:</label></td><input type="password" id="password" ng-model="password"><br /><br />
                
                <button type="button" id="submit" ng-click="submit()">Login Here</button>
				<!-- <input type="button" id="submit"  value="Login Here" ng-click='submit()'></input>  -->
                
				
				


	
				
				


            </form>
        </div>



        <p id="zykrr" style="text-align: center; ">Crafted with love</p> <a href="http://www.zykrr.com"><img src="footer-logo.png" alt="zykrr-logo" width="80" height="80" style="margin-left: 124px;"></a></div>
</div>
